body
{
    color: #f7f7f7;
}
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
h1.display-4 {
    font-family: courier;
}
p {
    font-family: arial;
}
h1 {
    text-shadow: 8px 8px 10px black;
  }
  input[type=text] {
    border: 1px solid rgb(2, 2, 34);
    border-radius: 4px;
  }